:root {

/* Colors: */
--unnamed-color-afafaf: #AFAFAF;
--unnamed-color-60616f: #60616F;
--unnamed-color-dddde2: #DDDDE2;
--unnamed-color-f4f4f4: #F4F4F4;
--unnamed-color-ffffff: #FFFFFF;
--unnamed-color-343640: #343640;
--unnamed-color-bcbdd0: #BCBDD0;
--unnamed-color-1f2027: #1F2027;
--unnamed-color-ffd600: #FFD600;

/* Font/text values */
--unnamed-font-family-rubik: Rubik;
--unnamed-font-family-helvetica-neue: Helvetica Neue;
--unnamed-font-style-normal: normal;
--unnamed-font-weight-normal: normal;
--unnamed-font-weight-medium: medium;
--unnamed-font-size-13: 13px;
--unnamed-font-size-14: 14px;
--unnamed-font-size-16: 16px;
--unnamed-font-size-17: 17px;
--unnamed-character-spacing-0: 0px;
--unnamed-line-spacing-30: 30px;
--unnamed-line-spacing-33: 33px;
--unnamed-line-spacing-39: 39px;
}

/* Character Styles */
.unnamed-character-style-1 {
font-family: var(--unnamed-font-family-rubik);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-normal);
font-size: var(--unnamed-font-size-17);
line-height: var(--unnamed-line-spacing-39);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-bcbdd0);
}
.unnamed-character-style-2 {
font-family: var(--unnamed-font-family-rubik);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-normal);
font-size: var(--unnamed-font-size-14);
line-height: var(--unnamed-line-spacing-39);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-bcbdd0);
}
.unnamed-character-style-3 {
font-family: var(--unnamed-font-family-helvetica-neue);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-medium);
font-size: var(--unnamed-font-size-13);
line-height: var(--unnamed-line-spacing-33);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-bcbdd0);
}
.unnamed-character-style-4 {
font-family: var(--unnamed-font-family-rubik);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-normal);
font-size: var(--unnamed-font-size-16);
line-height: var(--unnamed-line-spacing-30);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-bcbdd0);
}